<h1>IBM Assignment</h1>
<br />
<br />
<div class="row mat-elevation-z8 padding-20 min-height-400">
  <div class="col-lg-4 padding-20">
    <mat-card class="min-card-height">
      <h3 class="header-style-home">Employees</h3>
      <p class="padding-top-20">
        Contains all basic CRUD operations for Employee module
      </p>
      <p>
        To navigate, please click <a href="../employee/">here</a> or access from main menu.
      </p>
    </mat-card>
  </div>
  <div class="col-lg-4 padding-20">
    <mat-card class="min-card-height">
      <h3 class="header-style-home">Departments</h3>
      <p class="padding-top-20">
        Contains all basic CRUD operations for Department module
      </p>
      <p>
        To navigate, please click <a href="../department/">here</a> or access from main menu.
      </p>
    </mat-card>
  </div>
  <div class="col-lg-4 padding-20">
    <mat-card class="min-card-height">
      <h3 class="header-style-home">About</h3>
      <p class="padding-top-20">
        Contains brief overview of this assignment including architecture, best practices followed, etc.
      </p>
      <p>
        To navigate, please click <a href="../about/">here</a> or access from main menu.
      </p>
    </mat-card>
  </div>
</div>
