<h1>IBM Assignment</h1>
<br />
<br />
<div class="row mat-elevation-z8" style="padding:20px; min-height:400px">
  <div class="col-lg-5" style="padding:20px;">
    <mat-card style="min-height:300px">
      <h3>Employees</h3>
      <p style="padding-top:20px;">
        Contains all basic CRUD operations for Employee module
      </p>
      <p>
        To navigate, please click <a href="../employee/">here</a> or access from main menu.
      </p>
    </mat-card>
  </div>
  <div class="col-lg-2">&nbsp;</div>
  <div class="col-lg-5" style="padding:20px;">
    <mat-card style="min-height:300px">
      <h3>Departments</h3>
      <p style="padding-top:20px;">
        Contains all basic CRUD operations for Department module
      </p>
      <p>
        To navigate, please click <a href="../department/">here</a> or access from main menu.
      </p>
    </mat-card>
  </div>
  <div>
    <p style="padding:20px;">
      **This is a application created for purely intended for demonstration purpose by Sudipta Kundu.
      Not to be used for any commercial purpose(s).
    </p>
  </div>
</div>
