/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

@media screen and (max-width: 565px) and (min-width: 300px) {
  .hidden-sm {
    display: none;
  }
}

.table thead th {
  padding-left: 10px;
}

.table tbody td {
  padding-left: 10px;
}

.padding-20 {
  padding: 20px;
}
.padding-top-20 {
  padding-top: 20px;
}
.padding-top-30 {
  padding-top: 30px;
}
.padding-top-40 {
  padding-top: 40px;
}
.min-height-400{
    min-height: 400px;
}
.min-height-600 {
  min-height: 600px;
}
.percent-width-15{
    width:15%;
}
.percent-width-35 {
  width: 35%;
}
.percent-width-20 {
  width: 20%;
}
.percent-width-60 {
  width: 60%;
}
.percent-full-width{
  width: 100%;
}
.header-style-home {
  padding: 10px;
  background-color: #dee2e6;
}

.table-border-style {
  border-style: solid;
  border-width: 0.5px;
  border-color: darkgrey;
}

.table-border-style-top {
  border-top-style: solid;
  border-top-width: 0.5px;
  border-top-color: darkgrey;
}

.min-card-height {
  min-height: 300px;
}
