<h1>Departments</h1>
<br />
<div class="mat-elevation-z8">
  <div class="row">
    <div class="col-lg-1">&nbsp;</div>
    <div class="col-lg-10" style="padding-top:30px;">
      <app-loader *ngIf="isLoading"></app-loader>
      <table mat-table [dataSource]="dataSource"  class='table table-striped' aria-labelledby="tableLabel" width="100%"
             style="border-style: solid; border-width: 0.5px; border-color: darkgrey;">
        <!-- Position Column -->
        <ng-container matColumnDef="DeptId">
          <th mat-header-cell *matHeaderCellDef style="width:25%"> <h6><b>Department Id </b></h6></th>
          <td mat-cell *matCellDef="let element" class="align-middle"> {{element.deptId}} </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="DeptName">
          <th mat-header-cell *matHeaderCellDef  style="width:60%"> <h6><b>Department Name</b></h6> </th>
          <td mat-cell *matCellDef="let element" class="align-middle">
            {{element.deptName}}
          </td>
        </ng-container>
        <!-- Weight Column -->
        <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef> <h6></h6> </th>
          <td mat-cell *matCellDef="let element" class="align-middle">
            <button mat-icon-button matTooltip="Click to Edit" (click)="openDialog(element,'Update')">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Click to Delete" (click)="openConfirmation(element.deptId,'DEL')">
              <mat-icon>delete_outline</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
    <div class="col-lg-1">
      <button mat-icon-button matTooltip="Add new" class="iconbutton"
              (click)="openDialog('','Add')">
        <mat-icon>note_add</mat-icon>
      </button>
    </div>
  </div>
</div>
<br />
<div class="alert alert-danger" role="alert" *ngIf="errorMsg">{{errorMsg}}</div>
<div class="alert alert-success" role="alert" *ngIf="successMsg">{{successMsg}}</div>
