<br />
<div class="padding-20">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <h4>Project highlights</h4>
      </div>
      <div class="row">
        <ul>
          <li>
            This project is build using WebAPI Core with Angular8 and Bootstrap. Azure Sql Server is used as database.
          </li>
          <li>
            This website is hosted in Azure through AppService
          </li>
          <li>
            Source code can be accessed through <a href="https://github.com/sudiptakundu1/EmployeeDemoIBM.git" target="_blank">https://github.com/sudiptakundu1/EmployeeDemoIBM.git</a> (public).
          </li>
        </ul>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <h4>.Net WebAPI Core</h4>
      </div>
      <div class="row">
        <ul>
          <li>
            MVC architectural pattern is followed.
          </li>
          <li>
            Repository pattern is followed along with .NetCore in-built dependency injection, so that controller talks with repository and not with actual database context classes.
          </li>
          <li>
            Followed SOLID principle and loosely coupled objects across application.
          </li>
          <li>
            Followed REST principles while designing API.
          </li>
          <li>
            Implemented Logger using Micosoft extensions logging.
          </li>
          <li>
            Unit test cases is build using .NetCore xUnit (Framework is built and 4 sample test cases has been written for demo)
          </li>
          <li>
            Thought of adding JWT Authentication, but due to time constraint, couldn't complete that part.
          </li>
        </ul>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <h4>Angular8</h4>
      </div>
      <div class="row">
        <ul>
          <li>
            Followed component oriented architecture
          </li>
          <li>
            Angular Material, Bootstrap services are used.
          </li>
          <li>
            Observables are used.
          </li>
          <li>
            Created reusable components like add/edit popup and confirmation popup.
          </li>
          <li>
            Basic front end add on functionalities like pagination, sorting, filtering, popup models, toaster message has been used
          </li>
          <li>
            Responsive UI - compatible with both desktop/mobile view.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
