<br />
<div class="padding-20">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <h4>Project highlights and demo</h4>

      </div>
      <div class="row">
        <ul>
          <li>
            This project is build using WebAPI Core and Angular8
          </li>
          <li>
            Sql Server local database provided with visual studio is used as database
          </li>
        </ul>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <h4>.Net WebAPI Core</h4>
      </div>
      <div class="row">
        <ul>
          <li>
            MVC architectural pattern is followed.
          </li>
          <li>
            Repository pattern is followed along with .NetCore in-built dependency injection, so that controller talks with repository and not with actual database context classes.
          </li>
          <li>
            Followed SOLID principle and loosely coupled objects across application.
          </li>
          <li>
            Followed REST principles while designing API
          </li>
          <li>
            Implemented Logger using Micosoft extensions logging
          </li>
          <li>
            Unit test cases is build using .NetCore xUnit (Framework is built and 4 sample test cases has been written for demo)
          </li>
          <li>
            Thought of adding JWT Authentication, but due to time constraint, couldn't complete that part.
          </li>
        </ul>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <h4>Angular8</h4>
      </div>
      <div class="row">
        <ul>
          <li>
            Followed component oriented architecture
          </li>
          <li>
            Angular Material + Bootstrap is used
          </li>
          <li>
            Observables
          </li>
          <li>
            Created reusable components
          </li>
          <li>
            Basic front end add on functionalities like pagination, popup models has been used
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
